.dropbtn {
    width:90px;
    text-align:center;
    display:block;
    font-family: arial;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #1071FF 1px solid;
    color: #1071FF;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    transition: .5s;
    border-radius: 0px;
    margin: 12px;
    cursor: pointer
  }
  .dropbtn:hover {
    top: 5px;
    transition: .5s;
    color: #295ec2;
    border: #3aa3e9 1px solid;
    border-radius: 10px;
  }
  .dropbtn:active {
    color: #000;
    border: #1A1A1A 1px solid;
    transition: .07s;
    background-color: #FFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #354dd4b6;
}